#display {
    height: 100vh;
    width: 100vw;
    background: #2a001b;
    color: #D4D5D6;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
}

.modulebox {
    padding: 10px;
    text-align: center;
    border: 0px solid;
    height: 100%;
    font-size: 300%;
    text-align: center;
}


boxtitle {
    font-size: 12pt;
    text-align: center;
    
}

#cam {
}

#timeofday {
}

#note {
}
