@font-face {
	font-family: 'DSDIGI';
	src: url('./DSDIGI.eot');
	src: local('DSDIGI'), url('./DSDIGI.woff') format('woff'), url('./DSDIGI.ttf') format('truetype');
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#display {
    height: 100vh;
    width: 100vw;
    background: #2a001b;
    color: #D4D5D6;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
}

.modulebox {
    padding: 10px;
    text-align: center;
    border: 0px solid;
    height: 100%;
    font-size: 300%;
    text-align: center;
}

.digital {
    font-family: 'DSDIGI';
	font-size: 115%;
	line-height: 100%
}

.boxtitle {
    font-size: 16pt;
    text-align: center;
    font-family: monospace;
    line-height: 16pt;
}

.btn-circle {
  width: 49px !important;
  height: 49px !important;
  text-align: center !important;
  padding: 5px 0 !important;
  font-size: 20px !important;
  line-height: 2.00 !important;
  border-radius: 30px !important;
}

.btn-circle-micro {
  width: 19px !important;
  height: 19px !important;
  text-align: center !important;
  padding: 1px 0 !important;
  font-size: 13px !important;
  line-height: 0.1 !important;
  border-radius: 30px !important;
}

.btn-circle-sm {
  width: 35px !important;
  height: 35px !important;
  text-align: center !important;
  padding: 2px 0 !important;
  font-size: 20px !important;
  line-height: 1.65 !important;
  border-radius: 30px !important;
}

.btn-circle-lg {
  width: 79px !important;
  height: 79px !important;
  text-align: center !important;
  padding: 13px 0 !important;
  font-size: 20px !important;
  line-height: 2.00 !important;
  border-radius: 70px !important;
  margin: 5px;
}