@font-face {
	font-family: 'Conv_Digital Dismay';
	src: url('Digital Dismay.eot');
	src: local('☺'), url('Digital Dismay.woff') format('woff'), url('Digital Dismay.ttf') format('truetype'), url('Digital Dismay.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

#display {
    height: 100vh;
    width: 100vw;
    background: #2a001b;
    color: #D4D5D6;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
}

.modulebox {
    padding: 10px;
    text-align: center;
    border: 0px solid;
    height: 100%;
    font-size: 300%;
    text-align: center;
}

.digital {
    font-family: 'DSDIGI';
	font-size: 115%;
	line-height: 100%
}

.boxtitle {
    font-size: 16pt;
    text-align: center;
    font-family: monospace;
    line-height: 16pt;
}

#cam {
}

#timeofday {
}

#note {
}
