textarea {
    color: #000 !important;
    font-size: 50% !important;
    width: 100%;
    margin: 0;
}

.mainrow {
    margin-bottom: 12px;
}

.point{
	width:21px;
    margin-left: 34px;
    margin-right: 34px;
	height:21px;
	border-radius:50%;
	background:gray;
    float:left;
}

#tallyIndicator {
    width: 100%;
    padding-bottom: 30px;
}

#statusIndicator {
    width: 100%;
    padding-top: 100px;
}


.btn-left {
    float: left;
}

div {
    border-style: solid;
    border-color: white;
    border-width: 0px;}
    
#countdownTitle{
    height: 65px;
    padding-top: 10px;
}


