textarea {
    color: #000 !important;
    font-size: 50% !important;
    width: 100%;
    margin: 0;
}

.mainrow {
    margin-bottom: 12px;
}

.point{
	width:21px;
    margin-left: 34px;
    margin-right: 34px;
	height:21px;
	border-radius:50%;
	background:gray;
    float:left;
}

#tallyIndicator {
    width: 100%;
    padding-bottom: 30px;
}

#statusIndicator {
    width: 100%;
    padding-top: 100px;
}

#row4 {
    height: 15%;
}


.btn-left {
    float: left;
}

div {
    border-style: solid;
    border-color: white;
    border-width: 0px;}

#countdownTitle{
    height: 65px;
    padding-top: 10px;
}

div.footer-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
div.footer-container .btn-group {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 8px;
    right: 0;
}
div.footer-container .btn-group button {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 50% !important ;
    margin-bottom: 8px;
    margin-right: 8px;
    outline: 0 !important;
    color: #D4D5D6;
    border: solid 2px #D4D5D6;
    background-color: rgba(0, 0, 0, 0);
}
div.footer-container .btn-group button.highlighted {
    color: #2a001b;
    background-color: #D4D5D6;
}
@media only screen and (max-width: 567px) {
    div.footer-container .btn-group {
        padding-left: 6px;
    }
    div.footer-container .btn-group button {
        width: 42px;
        height: 42px;
        font-size: 14px;
        margin-bottom: 3px;
        margin-right: 6px;
    }
}
