#row1 {
	height: 330px;
}

#row1a {
	height: 150px;
}

#row2 {
	height: 110px;
}

#livestatus {
    position: relative;
    margin-left:10px;
    margin-right:-10px;
    width: 300px;
    height: 100%;
    text-align: center;
	padding-top: 15px;
    padding-bottom: 15px;
}

.segment {
    height:60px
}

.modulebox {
    font-size: 400%;
    line-height: 100%;
}
