#righthandSide {
	position: absolute;
	margin-left:1100px;
    width: 780px;
}

#livestatus {
    width: 100%;
    height: 240px;
    text-align: center;
	padding-top: 15px;
    padding-bottom: 15px;
	margin-top: 50px;
	font-size: 150px;
}

#livetime {
    width: 100%;
    height: 130px;
    text-align: center;
	padding-top: 15px;
    padding-bottom: 15px;
	margin-top: 30px;
	font-size: 70px;
	background-color: rgb(105, 64, 61);
}

#dir_countdown {
    width: 100%;
    height: 250px;
    text-align: center;
	padding-top: 25px;
    padding-bottom: 15px;
	margin-top: 30px;
	background-color: rgb(40, 50, 139);
}

#vt_countdown {
    width: 100%;
    height: 250px;
    text-align: center;
	padding-top: 25px;
    padding-bottom: 15px;
	margin-top: 30px;
	background-color: rgb(40, 139, 71);
}

.modulebox {
    font-size: 400%;
    line-height: 100%;
}
